---
import DashboardLayout from '@/layouts/DashboardLayout.astro';

const vcTitle = Astro.url.pathname.replace('/dashboard/boards/', '');
---

<DashboardLayout title={vcTitle}>
	<div class='container'></div>
</DashboardLayout>
