/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* fira-code-300 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Fira Code';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/fira-code-v22-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Fira Code';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/fira-code-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-500 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Fira Code';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/fira-code-v22-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Fira Code';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/fira-code-v22-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Fira Code';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/fira-code-v22-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@layer base {
	:root {
		--background: 0 0% 6%;
		--background: 224 71.4% 4.1%;
		--foreground: 210 20% 98%;
		--card: 224 71.4% 4.1%;
		--card-foreground: 210 20% 98%;
		--popover: 224 71.4% 4.1%;
		--popover-foreground: 210 20% 98%;
		--primary: 263.4 70% 50.4%;
		--primary-foreground: 210 20% 98%;
		--secondary: 215 27.9% 16.9%;
		--secondary-foreground: 210 20% 98%;
		--muted: 215 27.9% 16.9%;
		--muted-foreground: 217.9 10.6% 64.9%;
		--accent: 215 27.9% 16.9%;
		--accent-foreground: 210 20% 98%;
		--destructive: 0 62.8% 55.6%;
		--destructive-foreground: 210 20% 98%;
		--success: 120 50% 50%;
		--success-foreground: 210 15% 95%;
		--border: 215 27.9% 16.9%;
		--input: 215 27.9% 16.9%;
		--ring: 263.4 70% 50.4%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
		--radius: 0.3rem;
	}
}
@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Fira Code', monospace;
}

.thicc-text {
	font-weight: 900;
	text-shadow: 1px 0px hsl(var(--foreground));
	letter-spacing: 1px;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.dot-anim {
	opacity: 0.5;
	animation: blink 1.4s infinite;
}
.dot-anim:nth-child(1) {
	animation-delay: 0s;
}
.dot-anim:nth-child(2) {
	animation-delay: 0.2s;
}
.dot-anim:nth-child(3) {
	animation-delay: 0.4s;
}
@keyframes blink {
	0%,
	60%,
	100% {
		opacity: 0.5;
		color: gray;
	}
	30% {
		opacity: 1;
		color: white;
	}
}

.reply-spine {
	display: block;
	position: relative;
	box-sizing: border-box;
	top: 50%;
	left: 0;
	width: 25px;
	height: 15px;
	border-left: 2px solid hsl(var(--secondary-foreground) / 55%);
	border-bottom: 0 solid hsl(var(--secondary-foreground) / 55%);
	border-right: 0 solid hsl(var(--secondary-foreground) / 55%);
	border-top: 2px solid hsl(var(--secondary-foreground) / 55%);
	border-top-left-radius: var(--radius);
	transition: all 150ms ease-in-out;
}

.reply-to-header:hover .reply-spine {
	border-left: 2px solid hsl(var(--foreground) / 70%);
	border-bottom: 0 solid hsl(var(--foreground) / 70%);
	border-right: 0 solid hsl(var(--foreground) / 70%);
	border-top: 2px solid hsl(var(--foreground) / 70%);
}
