.online-badge::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	background-color: var(--mt-accent-green);
	width: 0.5rem;
	height: 0.5rem;
	transform: scale(1);
	transform-origin: center;
	animation: ping 1.5s forwards infinite;
}
